[submodule "wp-content/plugins/wpchaosclient"]
	path = web/wp-content/plugins/wpchaosclient
	url = https://github.com/DR-Innovation/wpchaosclient.git
[submodule "wp-content/plugins/wpchaossearch"]
	path = web/wp-content/plugins/wpchaossearch
	url = https://github.com/DR-Innovation/wpchaossearch.git
