html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: transparent;
}
body {
	margin: 0 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.428571429;
	color: #333333;
	background-color: transparent;
}
audio,
video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
a {
	background: transparent;
}
.overlay a:visited {
	color: #bbb;
}
.overlay a:active,
.overlay a:hover,
.overlay a:link {
	outline: 0;
	color: #fff;
}
b,
strong {
	font-weight: bold;
}
img {
	border: 0;
}
h1 {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.1;
}

select {
	height: 26px;
	/*padding: 0 1.65em;*/
	width: 100%;
	border: none;
}

.embed_customize {
	width: 130px;
	margin: 0 auto;
}

input[type="text"] {
	color: #000;
	background-image: none;
	border: none;
	padding: 5px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	background-color: #eee;
	height: 26px;
	width: 45%;
	box-sizing: border-box;
}
input[type="Submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border-radius: 5px;
	text-indent:0;
	border:1px solid #dcdcdc;
	color:#000000;
	height:30px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.inline {
	display: inline-block;
}

.custom_size {
	display: none;
	margin-top: 5px;
}
.custom_size .custom_width,
.custom_size .custom_height {
	display: inline;
	width: 57px;
}
.custom_form {
	margin-bottom: 30px;
	padding: 10px;
}

.options {
	margin-bottom: 10px;
	text-align: left;
}


.nav {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	overflow:hidden;
	background:#fff;
	padding:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	white-space: nowrap;
	z-index: 20;
}
i.underline {
	text-decoration: underline;
}

.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.copyright, .title {
	overflow:hidden;
	text-overflow:ellipsis;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.copyright {
	width: 70%;
}

.title {
	text-align:right;
	width: 30%;
}

/* Secure responsive slider vertical and horizontal */
.player {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	background: transparent;
}
.overlay {
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	display: table;
	z-index: 11;
}
.overlay .info {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	word-break: break-word;
	white-space: normal;
	padding: 10px;
}
.overlay .info textarea {
	width: 80%;
	max-width: 450px;
	height: 80px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	cursor: text;
	background-color: #eee;
	opacity: 1;
	resize: none;
}
.overlay .exit {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #eee;
	font-size: 18px;
	text-decoration: none;
}
.flex-control-nav {
	z-index: 1;
	margin-top: 5px !important;
}
.player > div {
	height: 100% !important;
}
.player .jwplayer {
	height: 24px !important;
}


.flexslider .image_logo {
	position: absolute;
	max-width: 70%;
	right: 10px;
	top: 10px;
	opacity: 0;
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	z-index: 10;
}
.flexslider:hover .image_logo {
	opacity: 1;
}

.flex-active-slide img {
	max-height: 100%;
	max-width: 100%;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
}
.flexslider .slides {
	height: 100%;
	max-height: 100%;
}
.slides img {
	margin: 0 auto !important;
}
.flex-active-slide {
	height: auto !important;
}
.noembed {
	white-space: normal;
	word-break: break-word;
	background-color: #fff;
}
p.lead {
	font-size: 16px;
}
/* ==========================================================================
   DKA logo
   ========================================================================== */
.slides li .image_logo {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}
.slides li:hover .image_logo {
  opacity: 1;
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.flexslider .slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  background: transparent !important;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flexslider .slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
/* No JavaScript Fallback */
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
  background: #fff;
  border: none;
  position: relative;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider:hover .flex-next {
  opacity: 0.8;
}
.flexslider:hover .flex-prev {
  opacity: 0.8;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-viewport {
  /*max-height: 2000px;*/
  max-height: 100%;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(../img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: 5px;
}
.flex-direction-nav .flex-prev {
  left: 5px;
}
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  box-shadow: none;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
  border: 1px solid #999999;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media only screen and (max-width: 480px) {
  .flex-control-paging,
  .flex-next,
  .flex-prev {
    display: none !important;
  }
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
