// main: ../custom.less
@margin: 30px;
.single-material {
  margin-top: @margin;
  h1 {
    margin-bottom: 6px;
  }
  h3 {
    margin-top: @margin;
  }
  .links {

    // margin: 2px 0;
  }
  .chaos-details {
    * + * {
      padding-left: 4%;
    }
    i {
      font-size: 24px;
    }
    i:first-child {
      padding-left: 2px;
    }
    .icon-calendar {
      padding-right: 3px;
    }
  }
  .description {
    a {
      display: block;
    }
  }
  .colofon,
  .contributors {
    width  : 100%;
    display: inline-block;
    p {
      margin: 0;
    }
    dt {
      margin-left: 0;
      clear      : left;
      width      : 200px;
      max-width  : 35%;
    }
    dt,
    dd {
      float: left;
    }
  }
  hr {
    border-top-width: 4px;
    border-top-color: @gray-lightest;
    margin-top      : 35px;
    margin-bottom   : 5px;
  }
}
.usertags {
  .alert {
    padding      : 5px;
    margin-bottom: 10px;
  }
}
.related-item {
  background-color: desaturate(@dka-primary-color, 15%);
  background-size: cover;
  background-position: center center;
  display: block;
  min-height: 180px;
  margin-bottom: 3rem;
  position: relative;

  &:hover {
    background-blend-mode: soft-light;

    &__title {
      background-color: fade(@dka-primary-color, 10%);
    }
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2px 4px  ;
    text-decoration: none;
    font-family: @bold-family;
    color: white;
    background-color: fade(@dka-primary-color, 50%);
  }
}

// Tags
a.tag {
  position             : relative;
  margin-right         : 3px;
  padding              : 4px 10px;
  background           : @gray-lighter;
  border-radius        : @border-radius-small;
  -webkit-border-radius: @border-radius-small;
  -moz-border-radius   : @border-radius-small;
  word-wrap            : break-word;
  color                : @gray-darker;
  margin-bottom        : 6px;
  text-decoration      : none;
  cursor               : pointer;
  display              : inline-block;
  &:hover {
    background: @brand-primary;
    color     : #fff;
  }
  .flag-tag {
    font-size  : inherit;
    color      : #fff;
    display    : inline-block;
    margin-left: 4px;
    line-height: 0;
  }
}
a.usertag {
  padding: 4px 10px;
}
.no-tag {
  padding   : 0;
  background: none;
  color     : @gray-semi-light;
}


.social {
  &.big-screen {
    position                  : fixed;
    left                      : 0;
    top                       : 50%;
    transform                 : translate(0,-50%);
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
    overflow                  : hidden;
    .social-share {
      display    : block;
      padding    : 5px 15px;
      width      : auto;
      margin     : 0;
      line-height: 1.4;
    }
  }
}
.social-share {
  font-size      : 2.5rem !important;
  width          : 3.5rem !important;
  text-align     : center;
  margin-top     : -5px;
  margin-left    : 1px !important;
  text-decoration: none !important;
  &.icon-facebook {
    .social-color(#3B5998);
  }
  &.icon-twitter {
    .social-color(#55ACEE);
  }
  &.icon-google-plus {
    .social-color(#dd4b39);
  }
  &.icon-envelope {
    .social-color(@gray-light);
  }
}
