#post-front {
  margin-left : 0;
  margin-right: 0;

  .panel-grid-cell {
    padding: 0;
  }

  .widget_dka-program-listing-featured-widget {
    padding-left : 15px;
    padding-right: 15px;
  }

}
.front.search.row {
  margin: 0 auto;
}
