// main: ../custom.less

#post-front {
  margin-left : 0;
  margin-right: 0;

  h1 {
    font-size: 3em;
  }

  .widget_dka-program-listing-featured-widget,
  .widget_fbw_id,
  .widget_null-instagram-feed {
    margin   : 0 auto;
    overflow : hidden;
    max-width: 360px;
  }

  > .entry-content {
    margin-top: 0;

    > div:last-child {
      max-width: @max-width;
      margin   : 0 auto;
      float    : none;
    }
  }
}

.front-page {
  .dark-search {
    .search {
      max-width: 600px;
    }    
  }
}
