// main: ../custom.less
#post-front {
  margin-left : 0;
  margin-right: 0;
  h1 {
    font-size: 3em;
  }
  .widget_dka-program-listing-featured-widget,
  .widget_null-instagram-feed,
  .widget_fbw_id {
    margin: 0 auto;
    overflow: hidden;
    max-width: 360px;
  }
  > .entry-content {
    margin-top: 0;
    > div:last-child {
      max-width: @max-width;
      margin   : 0 auto;
      float    : none;
    }
  }
}
.front.search.row {
  margin: 0 auto;
}
