// main: ../custom.less
// --------------------------------------------------
// HEADER
// --------------------------------------------------

body:not(.page-template-template-iframe-page) {
  @media (min-width: @screen-sm-min) {
    .navbar:not(.navbar--slim) {
      .container-fluid {
        height     : 10rem;
        padding-top: 2.3rem;
      }

      .navbar-brand {
        font-size: 4rem;
        transform: scale(1);
      }

      .navbar-right {
        margin-top: 1.2rem;
      }
    }
  }
}

.page-template-template-iframe-page {
  .entry-content {
    margin-top: 0;
  }
  .body-container {
    padding-top: 61px;
  }
}

.navbar {
  background-color: @header-bg;
  box-shadow      : 0 0 1px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.02);
  margin          : 0;

  .container-fluid {
    margin     : 0 auto;
    max-width  : 1170px;
    padding-top: .5rem;
    height     : 6rem;
    transition : .2s;

    > .navbar-header {
      margin-left: 0;
    }
  }

  .navbar-toggle {
    border      : none;
    margin-right: 0;

    .icon-bar {
      background-color: @text-color;
    }
  }

  .navbar-responsive-collapse {
    background-color: white;
  }

  //Old browser
  #old-browser-btn {
    position     : absolute;
    left         : 0;
    right        : 0;
    top          : 0;
    border-radius: 0;
  }

  // Top logo
  .navbar-brand {
    color           : @header-color;
    font-size       : 3rem;
    margin-top      : -1px !important;
    margin-left     : 0 !important;
    font-family     : @bold-family;
    text-transform  : uppercase;
    transform-origin: left;
    transform       : scale3d(.8, .8, 1);
    transition      : .2s;
    padding-left    : 0;
  }

  .navbar-right {
    margin-top: 1rem;
  }
  .navbar-responsive-collapse {
    .navbar-nav.navbar-right:last-child {
      margin-right: 0;

      li.menu-item {
        margin-right: 0 !important;
        margin-left : 10px !important;
      }
    }
  }

}

.dropdown-header {
  color  : @header-color;
  padding: 10px 0 4px 4px;
}

a.dropdown-toggle {
  color  : #fff !important;
  padding: 6px !important;
}

a.dropdown-toggle:hover {
  background-color: @header-color!important;
}

a.dropdown-toggle:active {
  background-color: none!important;
}

.navbar-responsive-collapse {
  ul.dropdown-menu {
    position   : static;
    padding    : 10px 0 !important;
    margin-left: 20px;
    width      : 100%;
  }

  li a {
    background-image                  : none !important;
    margin                            : 0 0 5px;
    float                             : left;
    width                             : 100%;
    -webkit-transition-delay          : 0s;
    -webkit-transition-duration       : .25s;
    -webkit-transition-property       : all;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .dropdown-menu-item {
    padding: 0 0 6px;
  }

  .dropdown {
    > .dropdown-menu-item {
      border-radius        : @border-radius-small;
      -webkit-border-radius: @border-radius-small;
      -moz-border-radius   : @border-radius-small;
      border               : 1px solid @gray-lighter !important;
      color                : @gray;
    }
  }
}
