// --------------------------------------------------
// Parallax
// --------------------------------------------------
.adamrob_pcontainer {
  max-width       : 9999px !important;
  background-color: rgba(0, 0, 0, 0.5);
  font-size       : 1.2em;
  color           : white;
  > div {
    max-width: 700px;
    margin   : 0 auto;
    > div {
      font-size: 2em;
    }
  }
  > div:first-child {
    padding-top: 160px !important;
    font-weight: 700;
  }
  > div:last-child {
    padding-bottom               : 160px !important;
    letter-spacing               : 0.1em;
    -webkit-font-feature-settings: "liga" 0;
    -moz-font-feature-settings   : "liga" 0;
    font-feature-settings        : "liga" 0;
  }
  a {
    color          : white;
    text-decoration: underline;
  }
}
.parallax-header {
  font-size: 2em;
  color    : white;
}
#post-front {
  padding-left : 0;
  padding-right: 0;
  .panel {
    margin-bottom: 0;
  }
}
