// main: ../custom.less
// --------------------------------------------------
// SEARCH
// --------------------------------------------------
@thumb-height: 244px;
.dark-search {
  background-color: @gray-lighter;
  margin-top      : -100px;
  padding-top     : 100px;
  .search {
    max-width: 1170px;
    margin   : 0 auto;
    padding  : 20px 0;
    .form-control,
    select,
    .btn {
      border     : 1px solid transparent !important;
      box-shadow : none !important;
      line-height: 22px;
      height     : 44px;
      text-shadow: none;
      padding    : 0 18px;
    }
    .btn-search {
      border-left-width: 0!important;
    }
    .btn-group {
      .btn {
        background-color: white;
        &:hover {
          background-color: @gray-lightest;
        }
        &.active,
        &:active {
          background-color: @gray-semi-light;
          color           : white;
        }
      }
    }
    .btn-advanced-search-container {
      .btn {
        background-color: @gray-semi-light;
        color           : white;
        &:hover {
          background-color: @gray-lightest;
          color           : @brand-primary;
          i {
            color: @brand-primary;
          }
        }
        i {
          color     : white;
          transform : rotate(180deg);
          transition: transform 0.5s ease;
        }
      }
    }
    .btn-advanced-search-container {
      .btn.collapsed {
        background-color: white;
        color           : @brand-primary;
        &:hover {
          background-color: @gray-lightest;
          color           : @brand-primary;
        }
        i {
          color    : @brand-primary;
          transform: rotate(0deg);
        }
      }
    }
  }
}
#advanced-search-container {
  margin-bottom: -20px;
  margin-top   : 10px;
  padding      : 0;
  .filter-container {
    padding: 10px 0;
  }
  .filter-media-type {
    padding-bottom: 0;
  }
  .btn {
    font-weight     : 700;
    font-size       : 1em;
    color           : @brand-primary;
    position        : relative;
    height          : 26px;
    margin          : 5px 0;
    padding         : 0 10px;
    border-radius   : 3px;
    line-height     : 26px;
    background-color: white;
    + .btn {
      margin-left: 2px;
    }
    .chaos-filter {
      display: none;
    }
    i {
      line-height: inherit;
      width      : 16px;
      font-size  : 1em;
      text-align : center;
      margin     : 0 5px 0 0;
      text-shadow: none;
      &.icon-remove-sign,
      &.icon-ok {
        margin : 0 0 0 5px;
        float  : right;
        display: none;
      }
    }
    &.active {
      color           : #fff;
      background-color: @gray-semi-light;
      text-shadow     : none;
      i {
        &.icon-remove-sign,
        &.icon-ok {
          display: inline-block;
        }
      }
    }
  }
}
.search-container {
  width    : 100%;
  max-width: 1170px;
}

// Search results
.listview .search-object {
  height: auto;
  a.thumbnail {
    height: auto;
  }
}
.search-object {
  height: @thumb-height;
  a.thumbnail {
    height: @thumb-height;
    color : #333333;
  }
  .thumb {
    height             : 145px;
    background-color   : @gray-lighter;
    background-position: center;
    background-size    : cover!important;
    position           : relative;
    margin-bottom      : 0;
    .caption {
      color           : #fff;
      background-color: rgba(0, 0, 0, 0.4);
      position        : absolute;
      bottom          : 0;
      right           : 0;
      padding         : 3px 4px 0;
    }
  }
  a:hover {
    text-decoration: none;
  }
  .date,
  .title,
  .organization,
  .media-type-container {
    line-height: 2.1rem;
  }
  .date {
    color : @gray;
    margin: 0;
  }
  i {
    margin-left: 1px;
  }
  .title,
  .organization {
    width        : auto;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    margin-top   : 0;
  }
  .title {
    margin-top: 3px;
    font-size : 1.2em;
  }
  .media-type-container {
    height: 20px;
    color : @gray;
    margin: 0;
    .icon-eye-open {
      margin-left: 8px;
      float      : right;
    }
  }
}

// List view
ul.row.listview {
  margin : 0;
  padding: 0;
  width  : 100%;
  li.search-object {
    border-bottom: 1px solid @gray-lighter;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: @gray-lighter;
    }
  }
  li {
    width          : 100%;
    clear          : left;
    padding-top    : 5px;
    padding-bottom : 5px;
    list-style-type: none;
    hr {
      display: none;
    }
    .thumbnail {
      border          : none;
      background-color: rgba(0,0,0,0) !important;
    }
    a.thumbnail {
      height: 100px;
    }
    h2.title {
      background-color: none !important;
    }
    .organization {
      float       : left;
      margin-right: 6px;
      position    : relative;
      white-space : nowrap;
    }
    .date {
      float        : left;
      margin-right : 10px;
      margin-bottom: 0;
      position     : relative;
      clear        : left;
    }
    .media-type-container {
      float: left;
      clear: left;
    }
  }
  .thumb {
    float : right;
    height: 100px;
    width : 100px;
    clear : all !important;
  }
}
.search-results-top {
  margin-bottom: 20px;
  margin-top   : 30px;
  white-space  : nowrap;
  > div {
    line-height: 40px;
    height     : 40px;
  }
  .search-result-listing {
    text-align : center;
    line-height: 40px;
    .btn {
      padding-left: 12px;
      padding-right: 12px;
    }
    .dropdown-toggle {
      [class^="icon-"] {
        margin-top: 0;
      }
    }
  }
  .search-count {
    overflow     : hidden;
    text-overflow: ellipsis;
    font-size    : 1.6em;
  }
}
.thumbnails {
  padding: 0;
  li {
    margin-bottom  : 20px;
    list-style-type: none;
  }
}
.pagination-div {
  text-align: center;
  font-size: 1.3em;
  .pagination {
    margin       : 0;
    border-radius: 0;
  }
}
