/*
Custom styles for tiny screen / phone (481 and up)

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

-------------------------------------------------- */

@xs_width: 8.333333333333332%;

.col-xs-1i {
	width: (@xs_width) !important;
}
.col-xs-2i {
	width: (@xs_width * 2) !important;
}
.col-xs-3i {
	width: (@xs_width * 3) !important;
}
.col-xs-4i {
	width: (@xs_width * 4) !important;
}
.col-xs-5i {
	width: (@xs_width * 5) !important;
}
.col-xs-6i {
	width: (@xs_width * 6) !important;
}
.col-xs-7i {
	width: (@xs_width * 7) !important;
}
.col-xs-8i {
	width: (@xs_width * 8) !important;
}
.col-xs-9i {
	width: (@xs_width * 9) !important;
}
.col-xs-10i {
	width: (@xs_width * 10) !important;
}
.col-xs-11i {
	width: (@xs_width * 11) !important;
}
.col-xs-12i {
	width: (@xs_width * 12) !important;
}